body
  font-size: 16px
.chart-head
  .sortable
    cursor: pointer
  .active
    text-decoration: underline
    &.asc:after
      content: ' ▲'
    &.desc:after
      content: ' ▼'
tbody td
  height: 5rem
  img.poster
    height: 100%

.pagination
  ul, li
    display: inline-block
  li
    height: auto
    &.active
      font-weight: bold
    a
      border-radius: 0.4rem 1.2rem 0.4rem
      padding: 1rem
    &:not(.disabled)
      a
        cursor: pointer
        &:hover, &:active, &:focus
          background: linen
