.row
  grid-template-columns: 10% 9% 6% auto 6% 7% 23% 11%;
  grid-template-rows: auto
.chart__head
  display: grid
.cell_compact, .cell_genres .legend
  display: none
.cell_watchers, .cell_rating, .cell_year, .cell_country, .cell_links
  display: block
