.row
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(2, auto)
.cell_poster
  grid-column: 1
  grid-row: 1 / -1
.cell_title, .cell_compact
  grid-column: 2 / span 3
.cell_genres
  grid-column: 5
  grid-row: 1 / -1
